
    <div class='row  justify-content-between m-0' style='height: 3rem;'></div>
    <div class='row'>
    <div class="col-md-3 col-xl-4"></div>
    <div class="col-md-6 col-xl-4">
        <form class="edt-login-form border border-5 border-success rounded" style="--bs-border-opacity: .5;" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 text-warning">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class='row  justify-content-between m-0' style='height: 2rem;'></div>
            <div class="row">
                <div class="col-md-3 col-xl-2"></div>
                <div class="col-md-6 col-xl-8"> 
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text edt-login-user" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between m-0" style='height: 0.5rem;'></div>
            <div class="row ">
                <div class="col-md-3 col-xl-2"></div>
                <div class="col-md-6 col-xl-8"> 
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text edt-login-lock" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                        </div>
                        <input class="form-control" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                        <div class="input-group-append">
                            <span class="input-group-text  edt-login-eye" ><i class="bi bi-eye-slash" style="cursor: pointer;" id="togglePassword"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

            <div class="row" style='height: 3rem;'></div>
            <div class="row col-md-3 col-xl-3 mx-auto">
                <button class="btn btn-outline-success" type="submit">
                    Connexion
                </button>
            </div>
            <div class="row" style='height: 2rem;'></div>
        </form>
    </div>
</div>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#inputPassword");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });
</script>