
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 mt-2 mx-2 bg-body-secondary justify-content-center">
        {# <div class='row justify-content-evenly bg-body-secondary mx-2'> #}
            {# <div class='row justify-content-between m-0' 
                style='height: 1rem;'>
            </div>             #}
{# FIRST COLUMN #}
            <div class="col-sm-1">

    {#             #}
    {# ACTUALITY   #}
    {#             #}
                <div class="edt-card text-center">
                    {# <div class="edt-card-table table-warning">
                        <h4 class="card-caption text-white">C'est par ici pour</h4>
                        <p class="text-align-center mt-4">
                        <iframe id="haWidget" allowtransparency="true" 
                            src="https://www.helloasso.com/associations/les-enfants-de-trestel/evenements/piece-de-theatre-ma-femme-est-sortie-par-la-troupe-uni-ver-scene-comedie/widget-bouton" 
                            style="width: 100%; height: 70px; border: none;">
                        </iframe>
                        <h4 class="card-caption text-white">et remplir la salle le 30 mars 2025</h4>
                        {% set dispo = 280 - participants %}
                        <h4 class="card-caption text-danger">{{ dispo }} places disponible</h4>
                    </div> #}
                    <div class="edt-card-table table-secondary">
                        <img src="{{ server_base }}/images/actuality/Picto_actualites.png">
                    </div>                    
                    <div class="edt-card-table table-danger">
{#                         <h2 class="card-caption">
                            Forum des associations à la salle polyvalente de Trélévern le vendredi 5 septembre de 16h30 à 19h30.
                        </h2> #}
                        {# <img src="{{ server_base }}/images/icon/white-walking-32.png">&nbsp;&nbsp;RANDO NATURE 2025</h2>
                        <img class='img-fluid rounded' src="{{ server_base }}/images/actuality/2025_Rando_Nature.jpg"  > #}
                        <br>
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;
                        <img src="{{ server_base }}/images/icon/color-christmas-32.png">&nbsp;&nbsp;                        
                        <p>
                        <h2 class="card-caption">
                            Debut des inscription pour le marché de Noël qui aura lieu le 22 et 23 novembre à la salle polyvalente de Trévou 
                        </h2>
                        {# <img src="{{ server_base }}/images/icon/white-walking-32.png">&nbsp;&nbsp;RANDO NATURE 2025</h2>
                        <img class='img-fluid rounded' src="{{ server_base }}/images/actuality/2025_Rando_Nature.jpg"  > #}
                    </div>
{#                    <div class="edt-card-table table-secondary">
                    </div>     
                     <div class="edt-card-table table-info">
                        <h2 class="card-caption">
                        &nbsp;&nbsp;AG 11 AVRIL 2025</h2>

                        <p class="text-align-center text-white fs-6 mt-4">
                        Pour la deuxième année consécutive, l’Assemblée Générale des Enfants de Trestel 
                        s’est transformée en un moment festif et original. Le conseil d’administration 
                        a choisi une soirée animée avec des saynètes jouées par les bénévoles pour 
                        retracer les temps forts de 2024. Le ton était donné avec des sirènes et gyrophares 
                        simulant les besoins des enfants. Les bénévoles déguisés en soignants tentaient 
                        de justifier les restrictions budgétaires. Mais la solution est apparue grâce 
                        à la solidarité : des donateurs, symbolisés par des céréaliers, ont offert des 
                        graines pour nourrir la mascotte cocotte codec, une poule magique qui pond des 
                        œufs en or grâce aux bons grains des généreux donateurs. Chacun l’aura compris, 
                        les œufs en or matérialisent les multiples projets réalisés au profit des enfants. 
                        L’organisation de ces saynètes a permis l’adhésion le soir même de 42 adhérents 
                        conquis par la cause, l’implication et la bonne humeur des bénévoles. 
                        Un enthousiasme communicatif s’est invité dans un milieu habituellement compliqué.
                        </p>
                    </div>
                    <div class="edt-card-table table-warning">
                        <h2 class='card-caption text-white'>CODEC</h2>
                        <img class='img-fluid rounded' src="{{ server_base }}/images/actuality/POULE_3_AG_11042025.jpg"  >
                    </div>#}
                </div> 
            </div>

 
{# SECOND COLUMN #}
            <div class="col-sm-1 ">
{#             #}
{# FACEBOOK    #}
{#             #}
                <div class="edt-card text-center" >
                    <div class="edt-card-table table-rose">
                    {# <div class="card border-info border-5 my-2 mx-2 bg-white" style="max-width: 30rem; margin-top: 15px; margin-bottom: 15px;"> #}
                        <h4 class="card-caption"><a target="_blank" href="https://www.facebook.com/profile.php?id=100064342705474" class="link-underline link-underline-opacity-0"><img class='img-fluid rounded'
                            src="{{ server_base }}/images/icon/facebook-48.png">&nbsp;&nbsp;"Facebook"</a></h4>
                        <br>
                        <div class="fb-page" 
                            data-href="https://www.facebook.com/profile.php?id=100064342705474" 
                            data-tabs="timeline" 
                            data-width="" 
                            data-height="" 
                            data-small-header="false" 
                            data-adapt-container-width="true" 
                            data-hide-cover="false" 
                            data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/profile.php?id=100064342705474" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/profile.php?id=100064342705474">Enfants de Trestel</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
   {#        #}
    {# TREVOU #}
    {#        #}
               <div class="edt-card mt-2" >
                    <div class="edt-card-table table-info">
                    {# <div class="card border-primary border-5 my-2 mx-2 bg-primary-subtle text-center" style="max-width: 30rem;" > #}
                        <img class='img-fluid rounded'
                            src="{{ server_base }}/images/icon/navbar/Trestel.jpg" 
                            alt='Trestel' 
                            title='Trestel à Trévou-Treguignec' 
                        >

                        <a target="_blank" href="https://trevou-treguignec.bzh/">
                            <img class='card-img mx-auto mt-1' style="max-width: 75%;"
                            src="{{ server_base }}/images/logo/Trevou_small.png" 
                            alt='Trévou-Treguignec' 
                            title='Trévou-Treguignec' 
                        ></a>
                    </div>
                </div>
            </div>
{# THIRD COLUMN #}
            <div class="col-sm-1">

    {#                 #}
    {# QUI SOMMES NOUS #}
    {#                 #}

                <div class="edt-card " >
                    <div class="edt-card-table table-success">
                        <h4 class="card-caption"><a href='{{ path('asso_homepage') }}' class="link-underline link-underline-opacity-0">
                        <img src="{{ server_base }}/images/icon/white-friends-32.png">&nbsp;&nbsp;"Qui sommes nous"</a></h4>
                        <p class="text-align-center text-white fs-6 mt-4">
                        C’est à l’initiative des médecins et du personnel du C.R.R.F. de Trestel que l’association « Les Enfants de Trestel » a vu le jour en 1989</p>
                        <p class="smaller">Les membres de l'association : </p>
                        <ul class="smaller">
                            <li>Parents des enfants de Trestel
                            <li>Personnel actif ou retraite du Centre de Rééducation et de Réadaptation Fonctionnelle
                            <li>Tous les adhérents qui souscrivent librement à l'association
                        </ul> 
                    </div>
                </div>
{#           #}
{# OBJECTIFS #}
{#           #}
                <div class="edt-card mt-2" >
                    <div class="edt-card-table table-info">
                        <h4 class="card-caption"><a href='{{ path('asso_homepage') }}' class="link-underline link-underline-opacity-0">
                            <img src="{{ server_base }}/images/icon/white-friends-32.png">&nbsp;&nbsp;"Objectifs"</a></h4>
                            <p class="text-align-center text-white fs-6 mt-4"></p>
                            <ul class="smaller">
                                <li>Favoriser le lien social, la découverte en milieu extérieur à l'hôpital et l'épanouissement des enfants handicapes tout en leur procurant du plaisir
                                <li>Procurer aux enfants du matériel extra médical
                                <li>Soutenir les familles, notamment en facilitant les échanges et l'accès à l'information sur leurs droits, leurs demarches à effectuer au niveau handicap
                                <li>Sensibiliser la population locale et les enfants au handicap, à la tolérance et à l'acceptation de la différence
                            </ul>
                    </div>
                </div>
            </div>            

{#                #}
{# GRANIT RUNNING #}
{#                #}
  {#               <div class="card border-danger border-5 my-2" style="max-width: 30rem;">
                    <div class="card-header text-center text-danger bg-warning-subtle fs-3">UN GRAND MERCI A NOS FIDELES DONATEURS DE LA GRANIT RUNNING 22</div>
                    <div class="card-body bg-info-subtle">
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Depuis plusieurs années désormais, Luc Traver et son équipe sont les fidèles
                            donateurs de notre association. Une remise de chèque pleine d'émotions et 
                            de chaleur. Cette année encore ils ont fait fort..  <span class='text-danger'>5 000 € pour les
                            Enfants de Trestel</span> et 5000 € pour la recherche sur le cancer (Infosarcom)
                            Ils n'épargnent pas leur peine et ont des projets plein la tête pour trouver des fonds.
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Un grand merci à toute l'équipe d'organisateurs, de bénévoles
                            (et ils sont nombreux) qui ont pu réaliser ce challenge solidaire. 
                            Ce don est le bienvenu pour nous permettre de répondre aux demandes des
                            professionnels qui nous soumettent de merveilleux projets permettant
                            aux enfants de sortir de leur milieu médicalisé.
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            On pourra encore faire pousser des ailes aux enfants....!!!
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            MERCI LUC, MERCI AUX ORGANISATEURS, MERCI AUX BENEVOLES, AUX COUREURS
                            pour cette belle chaîne de solidarité ET MERCI AUX VELOCYCLISTES qui ont 
                            franchi les cols et effectuer la traversée des Alpes pour réaliser leur
                            rêve "UN VELO POUR THIBAULT"
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Quelle belle équipe !!

                    </div>
                </div> #}
            

{#             #}
{# FINANCEMENT #}
{#             #}
{#                 <div class="card border-success border-5 my-2" style="max-width: 30rem;">
                    <div class="card-header text-center text-secondary bg-info-subtle fs-3">FINANCEMENT</div>
                    <div class="card-body bg-success-subtle">
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Exemples de différents projets financés:</p>
                        <ul>
                            <li>Musique
                            <li>Equitherapie
                            <li>Ludotheque
                            <li>Piscine
                            <li>Croisière
                            <li>Animation Noël
                            <li>Plongée
                            <li>Ateliers cuisine
                            <li>Théâtre, Cinema, Cirque
                            <li>Classe découverte
                            <li>Activités sportives et culturelles
                            <li>Sortie diverses
                            <li>Achats jouets, matériel pédagogique
                            <li>Séjours
                        </ul>
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            En investissement:</p>
                        <ul>
                            <li>Jardin des Sens
                            <li>Tourniquet pour enfants valides et non valides
                            <li>Joëlette
                            <li>Lève-personne dans le vestiaire PMR du pôle nautique de Trestel (juin 2024)
                    </div>
                </div>
                </div> 

            </div>             #}
            <div class='row justify-content-between m-0' 
                style='height: 1rem;'>
            </div>        
        </div>