<div class="container-fluid justify-content-between">
  <nav class="navbar navbar-expand-lg" >
    {% include ( "navbar_brand.html.twig" ) %}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " 
          data-bs-toggle="dropdown" 
          href=''
          role="button" 
          aria-expanded="false">{{ year }}
        </a>
          {% include ( "ul_year_dropdown.twig" ) %}


      </li>
    </ul>      
      <div class="container-fluid">
              {% if year == '2024' %}
                <p class="text-secondary text-center edt-asso-titre">{{ navbar_title }} 18 DEC {{ year }} <br> Exposants à Trestel</p>
              {% elseif year == '2025' %}
                <p class="text-secondary text-center edt-asso-titre">{{ navbar_title }} 17 DEC {{ year }} <br> Exposants à Trestel</p>
              {% elseif year == '2026' %}
                <p class="text-secondary text-center edt-asso-titre">{{ navbar_title }} 16 DEC {{ year }} <br> Exposants à Trestel</p>
        {% endif %}
      </div>
  </nav>
</div>
