<p id='affectationFilter' hidden>ALL</p>

{% for entry in account %}
    {% set entryInfo = {
            id: entry.compteid,
            bank: entry.banque ,
            project: entry.affectation ,
            date: entry.date|date("d-m-Y") ,
            debit: entry.debit,
            credit: entry.credit,
            operation: entry.operation,
            category: entry.categorie,
            comment: entry.commentaire,
    } %}
    <div data-table-info='{{ entryInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

{% for bank in banks %}
    {% set bankInfo = {
        name: bank.banque,
    } %}
    <div data-bank-id='{{ bankInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for project in projects %}
    {% set projectInfo = {
        name: project.affectation,
    } %}
    <div data-project-id='{{ projectInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for operation in operations %}
    {% set operationInfo = {
        name: operation.operation,
    } %}
    <div data-operation-id='{{ operationInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for category in categories %}
    {% set categoryInfo = {
        name: category.categorie,
    } %}
    <div data-category-id='{{ categoryInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}


<div class='bg-body-tertiary'>
    <div class='row justify-content-between m-0' 
        style='height: 2rem;'>
    </div>            
<div class="row justify-content-between">
    <div class="col-md-1"></div>
    <div class="col-md-3 ">
        <div><canvas id="chartAllBanksIncExpSav"></canvas></div>
    </div>
    <div class="col-md-4 ">
    </div>
    <div class="col-md-3 ">
    </div> 
    <div class="col-md-1"></div>
</div>

<div class="row justify-content-start">
    <div class="col-md-1 "></div>

    <div class="col-md-4 ">
        <div><canvas id="chartAllProjectsAllBanksExp"  style="height:500px; width: 100%;"></canvas></div>
    </div>
    <div class="col-md-3 ">
        <div class='table-responsive-sm'>
            <table class="table sm-lego-table table-hover mr-4">
                <tbody>
                    {% set total_expense = 0 %}
                    {% for project in projects %}
                        {% set expense = 0 %}
                        {% for eintrag in account %}
                            {% if eintrag.affectation == project.affectation %}
                                {% set expense = expense + eintrag.debit %}   
                            {% endif %}
                        {% endfor %}
                        {% if expense != 0 and project.affectation != 'AUTRE'%}
                            <tr>
                            <td><a href="{{ server_base }}/COMPTE/COURANT/CHART/AFFECTATION/{{ project.affectation }}"> {{ project.affectation }} </a></td>
                            <td> {{ expense }} </td>
                            </tr>
                            {% set total_expense = total_expense + expense %}   
                        {% endif %}
                    {% endfor %}

                </tbody>
                <tr class="table-danger">
                <td>TOTAL</a></td>
                <td> {{ total_expense }} </td>
                </tr>
           </table>
        </div>
    </div> 
</div>
<div class='row  justify-content-between m-0' 
    style='height: 2rem;'>
</div>
<div class="row justify-content-start">
    <div class="col-md-1 "></div>
    <div class="col-md-4 ">
        <div><canvas id="chartAllProjectsAllBanksInc" ></canvas></div>
    </div>
        

    <div class="col-md-3 ">
        <div class='table-responsive-sm'>
            <table class="table sm-lego-table table-hover mr-4">
                <tbody>
                    {% set total_credit = 0 %}
                    {% for project in projects %}
                        {% set credit = 0 %}
                        {% for eintrag in account %}
                            {% if eintrag.affectation == project.affectation and project.affectation != 'AUTRE' %}
                                {% set credit = credit + eintrag.credit %}   
                            {% endif %}
                        {% endfor %}
                        {% if credit != 0 %}
                            <tr>
                            <td><a href="{{ server_base }}/COMPTE/COURANT/CHART/AFFECTATION/{{ project.affectation }}"> {{ project.affectation }} </a></td>
                            <td> {{ credit }} </td>
                            </tr>
                            {% set total_credit = total_credit + credit %}   
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tr class="table-success">
                <td >TOTAL</a></td>
                <td> {{ total_credit }} </td>
                </tr>

            </table>
        </div>
    </div> 
</div>
    <div class='row justify-content-between m-0' 
        style='height: 2rem;'>
    </div>            
</div>
<script type='module' src="{{ asset('js/mychart.js') }}"></script>
