<script src="{{ asset('js/chartFilter.js') }}"></script>
<p id='affectationFilter' hidden>ALL</p>

{% for entry in account %}
    {% set entryInfo = {
            id: entry.compteid,
            projectid: entry.projetid,
            bank: entry.banque ,
            assignment: entry.affectation ,
            date: entry.date|date("d-m-Y") ,
            debit: entry.debit,
            credit: entry.credit,
            operation: entry.operation,
            category: entry.categorie,
            comment: entry.commentaire,
    } %}
    <div data-table-info='{{ entryInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

{% for bank in banks %}
    {% set bankInfo = {
        name: bank.banque,
    } %}
    <div data-bank-id='{{ bankInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for project in affectation %}
    {% set projectInfo = {
        name: project.affectation,
    } %}
    <div data-project-id='{{ projectInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for operation in operations %}
    {% set operationInfo = {
        name: operation.operation,
    } %}
    <div data-operation-id='{{ operationInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for category in categories %}
    {% set categoryInfo = {
        name: category.categorie,
    } %}
    <div data-category-id='{{ categoryInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}


<div class="container-fluid bg-body-secondary">
    <div class='row justify-content-between m-0' 
        style='height: 2rem;'>
    </div>            
    {# <div class="row justify-content-between">
        <form class="justify-content-center d-flex">
            <label class="edt-chkbx radio-inline mx-1" for="selectCheck">
                <input type="radio"  
                        name="flexCheckDefault" 
                        id="selectCheck"  checked>TOUT 
            </label>
            {% for project in affectation %}
                {% if project.affectation|split('',4)[0]  != 'EDT_' %}
                    <label class="edt-chkbx radio-inline mx-1" for="flexCheckDefault{{ loop.index0 }}">
                        <input class="me-1" type="radio"  
                                name="flexCheckDefault" 
                                id="flexCheckDefault{{ loop.index0 }}">{{ project.affectation  }}
                    </label>
                {% endif %}        
            {% endfor %}        
        </form>
    </div>   #}
    {# <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>              <div class="row justify-content-between">
        <div class="col-md-1"></div>
        <div class="col-md-3 ">
            <div><canvas id="chartAllBanksIncExpSav"></canvas></div>
        </div>
        <div class="col-md-4 "></div>
        <div class="col-md-3 "></div>
        <div class="col-md-1 "></div>
    </div>  #}

    {# <div class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 row-cols-xxl-4 g-4 mt-2 justify-content-center"> #}
<div class="row justify-content-start">

    <div class="col-xxl-1"></div>
    <div class="col-sm-10 col-md-5 col-xxl-3">
        <div><canvas id="chartAllProjectsAllBanksExp"  style="height:500px; width: 100%;"></canvas></div>
    </div>
    <div class="col-md-5 col-xxl-2" style="break-after:page">
        <div class='table-responsive-xl'>
            <table class="table table-sm table-light table-striped edt-euros-font">   
                <thead class='table-info'>
                    <th>Affectations</th><th class='text-end'>Debit</th>
                </thead>
                <tbody>
                    {% set total_expense = 0 %}
                    {% for project in affectation %}
                        {% set expense = 0 %}
                        {% for eintrag in account %}
                            {% if eintrag.affectation == project.affectation %}
                                {% set expense = expense + eintrag.debit %}   
                            {% endif %}
                        {% endfor %}
                        {% if expense != 0 and project.affectation != 'AUTRE' and project.affectation != 'INTERN' %}
                            <tr>
                            <td><a href="{{ server_base }}/COMPTE/CHART/AFFECTATION/{{ year }}/{{ project.affectation }}"> {{ project.affectation }} </a></td>
                            <td class='text-end'> {{ expense|number_format(2) }} </td>
                            </tr>
                            {% set total_expense = total_expense + expense %}   
                        {% endif %}
                    {% endfor %}

                </tbody>
                <tfoot class='table-group-divider table-danger'>
                    <td>TOTAL</a></td>
                    <td class='text-end'> {{ total_expense|number_format(2) }} </td>
                </tfoot>
           </table>
        </div>
    </div>
    <div class='row justify-content-between m-0 d-none d-print-block' 
        style='height: 2rem;'>
    </div>            

    <div class="col-sm-10 col-md-5 col-xxl-3">
        <div><canvas id="chartAllProjectsAllBanksInc" ></canvas></div>
    </div>
   <div class="col-md-5 col-xxl-2 ">
        <div class='table-responsive-xl'>
            <table class="table table-sm table-light table-striped edt-euros-font">   
                <thead class='table-info'>
                    <th>Affectations</th><th class='text-end'>Credit</th>
                </thead>                <tbody>
                    {% set total_credit = 0 %}
                    {% for project in affectation %}
                        {% set credit = 0 %}
                        {% for eintrag in account %}
                            {% if eintrag.affectation == project.affectation and project.affectation != 'AUTRE' and project.affectation != 'INTERN' %}
                                {% set credit = credit + eintrag.credit %}   
                            {% endif %}
                        {% endfor %}
                        {% if credit != 0 %}
                            <tr>
                            <td><a href="{{ server_base }}/COMPTE/CHART/AFFECTATION/2024/{{ project.affectation }}"> {{ project.affectation }} </a></td>
                            <td class='text-end'> {{ credit|number_format(2) }} </td>
                            </tr>
                            {% set total_credit = total_credit + credit %}   
                        {% endif %}
                    {% endfor %}
                </tbody>
               <tfoot class='table-group-divider table-danger'>
                    <td>TOTAL</a></td>
                    <td class='text-end'> {{ total_credit|number_format(2) }} </td>
                </tfoot>

            </table>
        </div>
    </div> 
</div>
<div class='row  justify-content-between m-0' 
    style='height: 2rem;'>
</div>

</div>
<script type='module' src="{{ asset('js/edtChart.js') }}"></script>
