<div class="d-flex flex-wrap justify-content-evenly bg-body-secondary">
        <div class='row justify-content-between m-0' 
            style='height: 1rem;'>
        </div>        
        <div class='row justify-content-evenly'>
            <div class="col-md-2">
                <div class="card edt-bg-yellow border-5" style="margin-top: 10px; margin-bottom: 10px;">
                    <img src="{{ server_base }}/images/handifference/p1.jpg" class="card-img-top" >
                 </div>            
            </div>            
            <div class="col-md-2">
                <div class="card edt-bg-red border-5" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/handifference/p6.jpg" class="card-img-top" >
                </div>            
            </div>            
            <div class="col-md-2">
                <div class="card edt-bg-iceblue border-5" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/handifference/p3.jpg" class="card-img-top" >

                </div>            
            </div>            
            <div class="col-md-2">
                <div class="card edt-bg-rose border-5" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/handifference/p2.jpg" class="card-img-top" >

                </div>            
            </div>            
            <div class="col-md-2">
                <div class="card edt-bg-green border-5" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/handifference/p9.jpg" class="card-img-top" >

                </div>            
            </div>            
           <div class="col-md-2">
                <div class="card edt-bg-orange border-5" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/handifference/p10.jpg" class="card-img-top" >

                </div>            
            </div>            
        </div>            
        <div class='row justify-content-evenly mb-3'>
        </div>            

        <div class='row justify-content-evenly'>
            <div class="col-md-3 edt-bg-green border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/affiche_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                    </div>            
                </div>            
            </div>            
            <div class="col-md-3 edt-bg-rose border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/bulletin_handifference_2.jpg" class="card-img-top" >
                    <div class="card-body">
                        {# <h5 class="card-title text-red">Inscription à renvoyer par mail à 
                            <a href="mailto:enfantsdetrestel@free.fr"> enfantsdetrestel@free.fr</a></h5>
                        <a class="btn bg-turquoise" style="align-center" target="_blank" 
                        href="{{ server_base }}/handifference/bulletin_handifference_2.pdf">
                        TELECHARGER BULLETIN</a> #}
                    </div>            
                </div>            
            </div>            
            <div class="col-md-4 edt-bg-green border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    {% include ( "home/handifference.html.twig" ) %}
                </div>            
            </div>            
       </div>       
        <div class='row justify-content-between m-0' 
            style='height: 1rem;'>
        </div>        
    </div>