<script src="{{ asset('js/chartFilter.js') }}"></script>
<script src="{{ asset('js/edtDateRange.js') }}"></script>
<p id='yearFilter' hidden>{{ year }}</p>
<p id='startDate' hidden>{{ startDate }}</p>
<p id='endDate' hidden>{{ endDate }}</p>

{% for projet in projets %}
    {% set projetInfo = {
            year: projet.year,
            month: projet.month,
            day: projet.day,
            credit: projet.credit,
            debit: projet.debit,
    } %}
    <div data-projet-info='{{ projetInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

{% for donateur in donateurs %}
    {% set donateurInfo = {
            year: donateur.year,
            month: donateur.month,
            day: donateur.day,
            credit: donateur.credit,
            debit: donateur.debit,
    } %}
    <div data-donateur-info='{{ donateurInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}


{% for edt in edts %}
    {% set edtInfo = {
            year: edt.year,
            month: edt.month,
            day: edt.day,
            credit: edt.credit,
            debit: edt.debit,
    } %}
    <div data-edt-info='{{ edtInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

{% for devis in projets_devis %}
    {% set devisInfo = {
            year: devis.year,
            month: devis.month,
            day: devis.day,
            devis: devis.devis,
    } %}
    <div data-devis-info='{{ devisInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

<div class="container-fluid bg-body-secondary">

    {# <div class='table-responsive-xl'>
        <table  id='evolutionTable'>
        </table>
    </div> #}
    <div class="row justify-content-evenly">
        <div class="col-md-5"></div>
        <div class="col-md-2" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
            <i class="bi bi-calendar"></i>&nbsp;
            <span></span> 
            <i class="bi bi-caret-down-fill"></i>
        </div>       
        <div class="col-md-5"></div>
    </div>

    <div class="ms-5" ><canvas id="chartAllYear"></canvas></div>


</div>
<script type='module' src="{{ asset('js/edtEvolution.js') }}"></script>


