<!DOCTYPE html>

<html>

    {# ##################
    #      head 
    # ##################}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="Association Enfants de Trestel">
        <meta name="description" content="Bienvenue sur le site de l'association Enfants de Trestel">
        <meta name="keywords" content="Les Enfants de Trestel, handicap, C.R.R.F. Trestel, Centre de rééducation et de réinsertion fonctionnelles Trestel, Centre hospitalier Pierre Le Damany,ch Lannion">
        <meta name="robots" content="{% block meta_robot %}index{% endblock %}">
        <title>{% block title %}ENFANTS DE TRESTEL{% endblock %}</title>
        <link rel="shortcut icon" href="{{ server_base }}/images/icon/shortcut/{% block icon %}Edt.png{% endblock %}">
        {# ##################
         #      stylesheets 
         # ##################}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" 
                href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" 
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
                type="text/css" />          
            <link rel="stylesheet" 
                href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
                type="text/css" />          

            <link rel="stylesheet" 
                href="{{ asset('bootstrap/css/bootstrap.min.css') }}"
                type="text/css" />
           <link rel="stylesheet" 
                href="{{ asset('css/style.css') }}"
                type="text/css" />
            <link rel="stylesheet" type="text/css" media="print" href="{{ asset('css/print.css') }}" />          
        {% endblock %}
        {# ##################
         #      script 
         # ##################}
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous">
        </script>
        <script 
            src="https://code.jquery.com/jquery-3.6.4.min.js" 
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
            crossorigin="anonymous">
        </script>
        <script 
            src="{{ server_base }}/chart.js/dist/chart.umd.js">
        </script>

        <style>
            :root {
                --edt-search-icon: url('{{ server_base }}/images/icon/search.svg') ;
                --edt-toggler-icon: url('{{ server_base }}/images/icon/menu-48.png') ;
            }
        </style>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    {# ##################
    #      body 
    # ##################}
    <body>
        {# ##################
        #      news 
        # ##################}
        {% block news %}{% endblock %}
        
        {# ##################
        #      header - navbar
        # ##################}
        {% block header %}{% endblock %}

        {# ##################
        #      content 
        # ##################}
        {% block content %}{% endblock %}

        {# ##################
        #      footer 
        # ##################}
        {% block footer %}{% endblock %}

        {# ##################
        #      javascript 
        # ##################}
        {% block java %}{% endblock %}
    </body>
</html>
