{% extends 'base.html.twig' %}

{% block meta_robot %}{{ meta_index }}{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block icon %}{{ icon }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block news %}
     <div class='row justify-content-between m-0'>
        <div class='d-flex mt-1 p-1 justify-content-center text-white edt-body-news-content'>
            <div class='col-1 '></div>
            <div class='col-2 '>SITE EN CONSTRUCTION</div>
            <div class='col-1 '></div>
            <div class='col-4 align-self-center text-center'>&nbsp;</div> 
            <div class='col-1 '></div>
            <div class='col-2'>SITE EN CONSTRUCTION</div>
            <div class='col-1 '></div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class='container-fluid edt-header-container sticky-top' >
        <header>
            {% if show_navbar is defined and show_navbar == true %}
                {% include ( "#{db|lower}/navbar.html.twig" ) %}
            {% else %} 
                {% include ( "navbar.html.twig" ) %}
            {% endif %} 
        </header> 
    </div>

{% endblock %}

{% block content %}
    {% if show_carousel_ag is defined and show_carousel_ag == true %}
        {% include ( "#{db|lower}/carousel_ag.html.twig" ) %}
    {% endif %}
    {% if show_carousel_photo is defined and show_carousel_photo == true %}
        {% include ( "#{db|lower}/carousel_photo.html.twig" ) %}
    {% endif %}
    {% if show_flyer is defined and show_flyer == true %}
        {% include ( "#{db|lower}/flyer.html.twig" ) %}
    {% endif %}
    {% if show_cards is defined and show_cards == true %}
        {% include ( "#{db|lower}/cards.html.twig" ) %}
    {% endif %}
    {% if show_gallery is defined and show_gallery == true %}
        {% include ( "#{db|lower}/gallery.html.twig" ) %}
    {% endif %}
    {% if show_table is defined and show_table == true %}
        {% include ( "#{db|lower}/table.html.twig" ) %}
    {% endif %}
    {% if show_chart is defined and show_chart == true %}
        {% include ( "#{db|lower}/chart.html.twig" ) %}
    {% endif %}
    {% if show_dashboard is defined and show_dashboard == true %}
        {% include ( "#{db|lower}/dashboard.html.twig" ) %}
    {% endif %}
    {% if show_login is defined and show_login == true %}
        {% include ( "security/login.html.twig" ) %}
    {% endif %}
    {% if show_register is defined and show_register == true %}
        {% include ( "registration/register.html.twig" ) %}
    {% endif %}
{% endblock %}

{% block footer %}
        <div class='d-flex justify-content-center align-items-center m-0'>
            <a class='p-3' target="_blank" href="https://www.facebook.com/profile.php?id=100064342705474">
                <img class='img-fluid rounded'
                    src="{{ server_base }}/images/icon/facebook-48.png" >
            </a>
            <a class='p-3' target="_blank" href="https://icons8.com">Icons by Icons8</a>
            <a class='p-3' href="mailto:tresorerie.enfantsdetrestel@gmail.com">
                <img class='img-fluid rounded'
                    src="{{ server_base }}/images/icon/send-email-40.png" >
            </a>
        </div>
 {% endblock %}

{% block java %}
    {% if inc_java is defined and inc_java == true %}
        {% include ( "#{db|lower}/js.table.html.twig" ) %}
    {% endif %}
{% endblock %}