{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block icon %}{{ icon }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}

    <div class='container-fluid edt-body-header-container' >
        <header>
            <div class='row  justify-content-between m-0' 
                style='height: 10px;'>
            </div>
            <div class='row'>
                <div class='col-1 align-self-center text-center '></div>
                <div class='col-2 align-self-center text-center '>
                    <img class='img-fluid rounded edt-body-header-logo'
                        src="{{ server_base }}/images/logo/Enfants_de_trestel.png">
                </div>
                <div class='col-1 align-self-center text-center '></div>
                <div class='col-4 align-self-center text-center'>
                    {% if header_title is defined and header_title != '' %}
                        <h1>{% block header_title %} {{ header_title }} {% endblock %}</h1>
                    {% endif %}
                    {% if header_image is defined and header_image != '' %}
                        {% set title = header_image|split('.') %}
                        <img class='img-fluid  rounded edt-body-header-logo'
                            src="{{ server_base }}/images/icon/header/{{ header_image }}" 
                            alt={{ title[0] }} 
                            title={{ title[0] }} 
                        >
                    {% endif %}
                </div>
                <div class='col-1 align-self-center text-center '></div>
                <div class='col-2 align-self-center text-center '>
                    <img class='img-fluid rounded edt-body-header-logo'
                        src="{{ server_base }}/images/logo/Enfants_de_trestel.png">
                </div>
                <div class='col-1 align-self-center text-center '></div>
            </div>
        </header>
    </div>
{% endblock %}

{% block news %}
    <div class='col-1 '></div>
    <div class='col-2 '>SITE EN CONSTRUCTION </div>
    <div class='col-1 '></div>
    <div class='col-4 align-self-center text-center'> {{ news }} </div> 
    <div class='col-1 '></div>
    <div class='col-2'>SITE EN CONSTRUCTION </div>
    <div class='col-1 '></div>

{% endblock %}

{% block navbar %}
    {% if show_navbar is defined and show_navbar == true %}
        {% include ( "#{db|lower}/navbar.html.twig" ) %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if show_carousel_ag is defined and show_carousel_ag == true %}
        {% include ( "#{db|lower}/carousel_ag.html.twig" ) %}
    {% endif %}
    {% if show_carousel_photo is defined and show_carousel_photo == true %}
        {% include ( "#{db|lower}/carousel_photo.html.twig" ) %}
    {% endif %}
    {% if show_flyer is defined and show_flyer == true %}
        {% include ( "#{db|lower}/flyer.html.twig" ) %}
    {% endif %}
    {% if show_cards is defined and show_cards == true %}
        {% include ( "#{db|lower}/cards.html.twig" ) %}
    {% endif %}
{% endblock %}

{% block footer %}
        <div class='d-flex justify-content-center m-0'>
            <a target="_blank" href="https://icons8.com">Icons by Icons8</a>
        </div>
{% endblock %}

{% block java %}
    {% if inc_java is defined and inc_java == true %}
        {% include ( "#{db|lower}/js.table.html.twig" ) %}
    {% endif %}
{% endblock %}