
{#     <a class="navbar-brand" href='{{ path('lego_add') }}'>
      <img class='sm-lego-brand' src="{{ server_base }}/images/icon/navbar/add-row-144.png" 
        alt='ADD ITEM' 
        title='ADD ITEM'>
      </img>
    </a>

 #}
 {# 
    {% include ( "navbar_brand_item.html.twig" ) with { 'item': 'add-row-144',
                                                        'item_path' : path('lego_add'),
                                                        'item_id' : 'sm-lego-navbar-link',
                                                        'item_title' : 'ADD' } %}

 #}
     <a class="navbar-brand" href='{{ item_path }}'>
      <img id='{{ item_id }}' class='img-fluid rounded-circle border' src="{{ server_base }}/images/icon/navbar/{{ item }}.png" 
        style="max-width: 75%"
        alt='{{ item_title }} ITEM' 
        title='{{ item_title }} ITEM'>
      </img>
    </a>
