

{% set etatFilterIndex = 0 %}

<div class="container-fluid bg-body-secondary">
    <div class='d-print-none row justify-content-center m-0 text-secondary fs-4' 
        style='height: 1rem;'>
    </div>      

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4 mt-2 justify-content-center">
        {% for projet in projets %}
            {% if loop.index0 > 0 %}
                {# cloturé or pas de fiche #}
                {% if projet.etat_id == 1 or projet.etat_id == 4 %}
                    {% set etatFilterIndex = etatFilterIndex + 1 %}
                    {% if etatFilterIndex % 4 == 0 %}
                        <div class="col md-1 edt-page-break"> 
                    {% else %}
                        <div class="col md-1" >
                    {% endif %}
                       <div class="card " >
                            <div class="card-header bg-success-subtle d-flex align-items-center justify-content-between" style='height:  3rem'>
                                {{ projet.projet }} 
                            </div>
                            <div class="card-body">
                                <table class='table table-sm'>
                                <thead>
                                </thead>
                                <tbody>
                                    <tr class="table-light"><td>Prestataire</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    {% if projet.url != '' %}
                                        <td><a href='{{ projet.url }}' target='_blanc'>{{ projet.name }}</a></td>
                                    {% else %}
                                        <td>{{ projet.name }}</td>
                                    {% endif %}
                                    </tr>
                                    <tr class="table-light"><td>Affectation</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ projet.affectation }}</td></tr>
                                    <tr class="table-danger"><td>Coût</td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>{{ projet.montant|round }} Euros
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>        

</div>
