{% set nb_realized = nb_closed_projets + nb_unknown_projets %}
{% set realized_total = closed_projets_total + unknown_projets_total %}
{% set nb_ongoing = nb_ongoing_projets + nb_foreseen_projets %}
{% set ongoing_total = ongoing_projets_total + foreseen_projets_total %}

<div class="container-fluid justify-content-between">
  <nav class="navbar navbar-expand-lg" >
    {% include ( "navbar_brand.html.twig" ) %}
      <div class="container-fluid">
            <p class="text-secondary edt-donateurs-titre">Déjà {{ nb_realized }} projets 
            realisés en {{ year }} pour un coût total de {{ realized_total|round }} Euros 
            <br><span class='fst-italic fs-6'>{{ nb_ongoing }} projets 
            en cours ou validé pour un total de {{ ongoing_total|round }} Euros</span>
      </div>
  </nav>
</div>
