<script src="{{ asset('js/table.js') }}"></script>

<div class='bg-body-secondary'>
    <div class="row justify-content-between m-0" style='height: 1rem;'>
    </div>            
{#     <div class="row justify-content-center ">
        <div class='col-2'>
            <a href='#' class="mx-1">
                <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/add-48.png"  alt='ADD' title='ADD'></a>
        </div>
        <div class='col-2'>
                <a href='#' class="mx-1">
                    <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/update-48.png" alt='EDIT' title='EDIT'></a>
        </div>
        <div class='col-2'>
                <a href='#' class="mx-1">
                    <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/delete-48.png" alt='DELETE' title='DELETE'></a>
        </div>
    </div> #}
    <div class="row justify-content-between m-0" style='height: 1rem;'>
    </div>   
        <div class='row  justify-content-between'>
        <div class="col-md-1"></div>
        <div class="col-md-10 border rounded bg-iceblue">
            <div class='row'>
                <div class="dropdown mt-2 col-md-10">
                    <span>
                        <img src='{{ server_base }}/images/icon/rows-144.png' 
                            alt='NUMBER OF ROWS' 
                            title='NUMBER OF ROWS' 
                            width='64' 
                            height='64'>
                    </span>
                    <button class="btn btn-secondary dropdown-toggle justify-content-begin" 
                        type="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        {{ show_row_number }}
                    </button>
                    <ul class="dropdown-menu sm-lego-table-dropdown-menu rounded">
                        <li><a class="dropdown-item sm-lego-table-dropdown-item" href="#">5</a></li>
                        <li><a class="dropdown-item sm-lego-table-dropdown-item" href="#">10</a></li>
                        <li><a class="dropdown-item sm-lego-table-dropdown-item" href="#">50</a></li>
                        <li><a class="dropdown-item sm-lego-table-dropdown-item" href="#">{{ courant_table_content |length }}</a></li>
                    </ul>
                </div>

                <div class='col-md-2 mt-2'>
                    <form class="nosubmit justify-content-end sm-lego-table-search-form">
                        <input type="search"
                            class="nosubmit rounded" id="sm-lego-table-search-input" 
                            placeholder="Search ..." 
                            value="" >
                    </form>
                </div>
            </div>
            <div class='row row-cols-1'>
                <div class='table-responsive-xl'>
                    <table class="table sm-lego-table table-hover mr-4">
                        <thead>
                            <tr>
                                {% for header in table_header_fields %}
                                    {% if header.Field |upper == 'PROJET_ID' %}
                                        <th hidden class='text-truncate'> {{ header.Field |upper }} </th>
                                    {% endif %}
                                    {% if header.Field |upper != 'COMPTE_ID' and 
                                        header.Field |upper != 'BANQUE' and 
                                        header.Field |upper != 'PROJET_ID' and 
                                        header.Field |upper != 'EDT_ID' and 
                                        header.Field |upper != 'ETAT_ID' and 
                                        header.Field |upper != 'MAIL' and 
                                        header.Field |upper != 'AFFECTATION_ID' and 
                                        header.Field |upper != 'OPERATION_ID' and 
                                        header.Field |upper != 'DONATEUR_ID' and 
                                        header.Field |upper != 'CATEGORIE' %}

                                        <th class='text-truncate'> {{ header.Field |upper }} &nbsp;&nbsp;&nbsp;
                                        <a href='?sort={{ header.Field |upper }}&order={{ asc_or_desc }}'>
                                        <i class='material-icons' style='color: white'>keyboard_arrow_{{ up_or_down }}</i></a>
                                        </th>
                                    {% endif %}
    {#                                 {% if header.Field |upper == 'ARCHIVE' %}
                                        <th hidden class='text-truncate'> {{ header.Field |upper }} </th>
                                    {% endif %} #}

                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                                {% set color = 'white' %}
                                {% for row in courant_table_content %}

                                    <tr>
                                    <td hidden >{{ row.compte_id }} </td>
                                    <td hidden>p_{{ row.projet_id }} </td>
                                    <td>{{ row.affectation }} </td>
                                    <td> {{ row.date|date("d-m-Y") }} </td>
                                    {% if row.debit != '0.00' %}
                                        {% set deci = row.debit|length %}
                                        {% if deci == 4 %}
                                            <td >&nbsp;&nbsp;&nbsp;&nbsp;{{ row.debit }} </td>
                                        {% elseif deci == 5 %}
                                            <td >&nbsp;&nbsp;&nbsp;{{ row.debit }} </td>
                                        {% elseif deci == 6 %}
                                            <td >&nbsp;&nbsp;{{ row.debit }} </td>
                                    {% elseif deci == 7 %}
                                            <td >&nbsp;{{ row.debit }} </td>
                                        {% endif %}
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    {% if row.credit != '0.00' %}
                                        {% set deci = row.credit|length %}
                                        {% if deci == 4 %}
                                            <td >&nbsp;&nbsp;&nbsp;&nbsp;{{ row.credit }} </td>
                                        {% elseif deci == 5 %}
                                            <td >&nbsp;&nbsp;&nbsp;{{ row.credit }} </td>
                                        {% elseif deci == 6 %}
                                            <td >&nbsp;&nbsp;{{ row.credit }} </td>
                                    {% elseif deci == 7 %}
                                            <td >&nbsp;{{ row.credit }} </td>
                                        {% endif %}
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}

                                    {% if row.facture != '' %}
                                        {% set path = server_base|split('/') %}
                                        {# <td><a href='https://{{ server_name }}/{{ path[1] }}/FACTURES/{{ row.projet }}_{{ row.facture }}.pdf'>{{ row.projet }}_{{ row.facture }}.pdf</a> </td> #}
                                        {# <td><a href="mailto:{{ row.mail }}?subject=Facture {{ row.facture }}&body=Bonjour,%0D%0A%0D%0Aje vous informe que le virement correspondant à la facture%0D%0A%0D%0A&nbsp;&nbsp;{{ row.facture }}%0D%0A %0D%0Aa été effectué aujourd'hui.">{{ row.facture }}</a></td> #}
                                        {# <td>{{ row.facture }}</td> #}
                                        <td>{{ row.facture }}</td>
                                    {% else %}
                                        <td>{{ row.facture }}</td>
                                    {% endif %}
                                    <td>{{ row.operation }} </td>
                                    <td>{{ row.commentaire }} </td>
                                    </tr>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p id='primaryKey' hidden>primaryKey</p>
        <p id='primaryKeyPlace' hidden>{{ primary_key_column }}</p>
        <p id='primaryKeyName' hidden>{{ primary_key_name }}</p>
        <p id='showRowNumber' hidden>{{ show_row_number }}</p>
        <p id='year' hidden>{{ year }}</p>
        <div class='col-md-1'></div>
    </div>
    <div class='row justify-content-between m-0' 
        style='height: 2rem;'>
    </div>            
</div>

