<p id='projectFilter' hidden>{{ projectFilter }}</p>

{% for entry in account %}
    {% set entryInfo = {
            id: entry.id,
            bank: entry.banque ,
            project: entry.affectation ,
            date: entry.date|date("d-m-Y") ,
            debit: entry.debit,
            credit: entry.credit,
            operation: entry.operation,
            category: entry.categorie,
            comment: entry.commentaire,
    } %}
    <div data-table-info='{{ entryInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

{% for bank in banks %}
    {% set bankInfo = {
        name: bank.banque,
    } %}
    <div data-bank-id='{{ bankInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for project in projects %}
    {% set projectInfo = {
        name: project.affectation,
    } %}
    <div data-project-id='{{ projectInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for operation in operations %}
    {% set operationInfo = {
        name: operation.operation,
    } %}
    <div data-operation-id='{{ operationInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}
{% for category in categories %}
    {% set categoryInfo = {
        name: category.categorie,
    } %}
    <div data-category-id='{{ categoryInfo|json_encode|replace({"'": "&#39;"})|raw }}'></div>
{% endfor %}

{% if projectFilter != 'DON' and projectFilter != 'EDT_ADHESIONS' %}
<div class="row justify-content-start">
    <div class="col-md-1"></div>
    <div class="col-md-4 ">
        <div><canvas id="chartAllCatsOneProjectAllBanksExp"></canvas></div>
    </div>
    <div class="col-md-3 ">
        <div class='table-responsive-sm'>
            <table class="table sm-lego-table table-hover mr-4">
                <tbody>
                    {% set total_expense = 0 %}
                    {% for category in categories %}
                        {% set expense = 0 %}
                        {% for eintrag in account %}
                            {% if eintrag.affectation == projectFilter and eintrag.categorie == category.categorie %}
                                {% set expense = expense + eintrag.debit %}   
                            {% endif %}
                        {% endfor %}
                        {% if expense != 0 %}
                            <tr>
                            <td>{{ category.categorie }}</td>
                            <td> {{ expense }} </td>
                            </tr>
                            {% set total_expense = total_expense + expense %}   
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tr class="table-danger">
                <td>TOTAL</a></td>
                <td> {{ total_expense }} </td>
                </tr>
            </table>
        </div>
    </div> 
</div>
{% endif %}
<div class="row justify-content-start">
    <div class="col-md-1"></div>
    <div class="col-md-4 ">
{% if projectFilter != 'DON' and projectFilter != 'EDT_ADHESIONS' %}
        <div><canvas id="chartAllCatsOneProjectAllBanksInc"></canvas></div>
{% endif %}
          
    </div>
    <div class="col-md-3 ">
        <div class='table-responsive-sm'>
            <table class="table sm-lego-table table-hover mr-4">
                <tbody>
                    {% set total_credit = 0 %}
                    {% for category in categories %}
                        {% set credit = 0 %}
                        {% for eintrag in account %}
                            {% if eintrag.affectation == projectFilter and eintrag.categorie == category.categorie %}
                                {% set credit = credit + eintrag.credit %}   
                            {% endif %}
                        {% endfor %}
                        {% if credit != 0 %}
                            <tr>
                            <td>{{ category.categorie }}</td>
                            <td> {{ credit }} </td>
                            </tr>
                            {% set total_credit = total_credit + credit %}   
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tr class="table-success">
                <td>TOTAL</a></td>
                <td> {{ total_credit }} </td>
                </tr>
                {% if projectFilter == 'EDT_ADHESIONS' %}
                    <tr class="table-warning">
                    <td>Nombres Adherants</a></td>
                    <td> {{ total_credit / 5 }} </td>
                    </tr>
                        {% endif %}
            </table>
        </div>
    </div> 
</div>

<script type='module' src="{{ asset('js/mychart.js') }}"></script>
