
<p id='etatFilter' hidden>{{ etatFilter }}</p>

{% set card_header_bg_color = 'bg-info-subtle' %}

{% set global_f_montant = 0.00 %}
{% set global_d_montant = 0.00 %}
{% set global_a_montant = 0.00 %}
{% set global_c_diff = 0.00 %}
{% set global_ec_diff = 0.00 %}
{% set global_pf_montant = 0.00 %}
{% set global_pdf_montant = 0.00 %}
{% set devis_sous_total = 0.00 %}
{% set devis_total = 0.00 %}
{% set devis_a_venir = 0.00 %}

{% for projet in projets %}
    {% if loop.index0 > 0 %}
        {% set montant = (projet.f_montant - projet.d_montant )  %}
        {% set global_d_montant = global_d_montant + projet.d_montant %}
        {% set global_f_montant = global_f_montant + projet.f_montant %}
        {% if projet.etat == 'annulé' %}
            {% set global_a_montant = (global_a_montant + montant) %}
        {% elseif projet.etat == 'clôturé' %}
            {% set global_c_diff = global_c_diff + montant %}
        {% elseif projet.etat == 'en cours' %}
            {% set global_ec_diff = global_ec_diff + montant %} 
        {% elseif projet.etat == 'pas facturé' %}
            {% set global_pf_montant = global_pf_montant + montant %} 
        {% elseif projet.etat == 'pas de fiche' %}
            {% set global_pdf_montant = global_pdf_montant + montant %} 
        {% endif %}
    {% endif %}
{% endfor %}
{% set devis_sous_total = global_d_montant + global_pdf_montant + global_a_montant + global_c_diff %}
{% set devis_total = devis_sous_total - global_f_montant %}
{% set devis_a_venir = (global_ec_diff + global_pf_montant) * (-1) %}


{% set total_bilan = 0.00 %}
{% set total_don = 0.00 %}
{% set total_credit = 0.00 %}
{% set total_debit = 0.00 %}
{% set total_edt_credit = 0.00 %}
{% set total_edt_debit = 0.00 %}
{% set total_autre_credit = 0.00 %}
{% set total_autre_debit = 0.00 %}

{% for entry in account %}
    {% if entry.affectation is defined and entry.affectation == 'DON' %}
        {% set total_don = total_don + entry.credit %}
    {% elseif entry.affectation is defined and entry.affectation|split('',3)[0] == 'EDT' %}
        {% set total_edt_credit = total_edt_credit + entry.credit %}
        {% set total_edt_debit = total_edt_debit + entry.debit %}
    {% elseif entry.affectation is defined and entry.affectation == 'AUTRE' %}
        {% set total_autre_credit = total_autre_credit + entry.credit %}
        {% set total_autre_debit = total_autre_debit + entry.debit %}
    {% endif %}
{% endfor %}
{% set total_credit = total_don + total_edt_credit %}
{% set total_debit = global_f_montant + total_edt_debit %}
{% set total_bilan = total_debit - total_credit %}


{% set compte_titre_01_2024 = 3330.00 %}
{% set livret_01_2024 = 33121.74 %}
{% set compte_cheques_01_2024 = 11507.06 %}
{% set solde = 0.00 %}

{% set credit_01_2024 = compte_titre_01_2024 + livret_01_2024 + compte_cheques_01_2024 %}
{% set solde = credit_01_2024 - total_bilan %}

<div class="container-fluid bg-body-secondary">
    <div class='row justify-content-center m-3 p-2 text-success fs-3'>
        BILAN FINANCIER
    </div>   
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4 g-4 mt-2 justify-content-center">
    {# <div class='row row-cols-1'>
    <div class='col-2'></div> #}
        <div class='table-responsive-xl'>
            <table class="table table-sm table-light table-striped edt-euros-font">   

                <thead class='table-warning'>
                    <th>Projets</th><th class='text-end'>Devis</th><th class='text-end'>A venir</th>
                </thead>
                <tbody class='table-group-divider'>

                    <tr>
                        <td class='text-start'>Devis signé</td><td class='text-end'>{{ global_d_montant|number_format(2) }}</td><td></td></tr>
                    <tr>
                        <td class='text-start'>Pas de fiche</td><td class='text-end'>{{ global_pdf_montant|number_format(2) }}</td><td></td></tr>
                    <tr>
                        <td class='text-start'>Cloturé</td>
                            <td class='text-end'>{{ global_c_diff|number_format(2) }}</td><td></td></tr>
                    <tr>
                        <td class='text-start'>Annulé</td><td class='text-end'>{{ global_a_montant|number_format(2) }}</td><td></td></tr>
                    <tr class='table-secondary'>
                        <td>Sous total</td><td class='text-end'>
                        {{ devis_sous_total|number_format(2) }}
                        </td>
                        <td></td></tr>
                    <tr>
                        <td class='text-start'>Payé</td>
                            <td class='text-end'>{{ (global_f_montant * (-1))|number_format(2) }}</td><td></td></tr>

                    <tr>
                        <td class='text-start'>En cours</td>
                            <td></td><td class='text-end'>{{ (global_ec_diff * (-1))|number_format(2)}}</td></tr>
                    <tr>
                        <td class='text-start'>Pas facturé</td>
                            <td></td><td class='text-end'>{{ (global_pf_montant * (-1))|number_format(2) }}</td></tr>
                    {# <tr>
                        <td class='text-start'>Payé</td><td class='text-end'>{{ global_f_montant }}</td><td></td></tr> #}

                </tbody>
                <tfoot class='table-group-divider table-danger '>
                        <td></td><td class='text-end'>
                        </td>
                        <td class='text-end text-danger'><b>{{ devis_a_venir|number_format(2) }}</b></td></tr>
                </tfoot>
            </table>
        </div>
        <div class='table-responsive-xl'>
            <table class="table table-sm table-light table-striped edt-euros-font">   

                <thead class='table-info'>
                    <th>Affectations</th><th class='text-end'>Debit</th><th class='text-end'>Credit</th>
                </thead>
                <tbody class='table-group-divider'>
                    <tr>
                        <td class='text-start'>Projets payé</td><td class='text-end'>{{ global_f_montant|number_format(2) }}</td><td></td></tr>
                    <tr>
                        <td>EDT</td><td class='text-end'>{{ total_edt_debit|number_format(2) }}</td><td></td></tr>
                    <tr>
                        <td><a href='{{ server_base }}/COMPTE/COURANT/CHART/AFFECTATION/DON'>DON</a></td><td></td><td class='text-end'>{{ total_don|number_format(2) }}</td></tr>
                    <tr>
                        <td>EDT</td><td></td><td class='text-end'>{{ total_edt_credit|number_format(2) }}</td></tr>
                    <tr class='table-secondary'>
                        <td>Total operations</td><td class='text-end'>{{ total_debit|number_format(2) }}</td><td class='text-end'>{{ total_credit|number_format(2) }}</td></tr>
                </tbody>
                <tfoot class='table-group-divider table-danger'>
                    <td>Bilan</td><td class='text-end text-danger'><b>{{ total_bilan|number_format(2) }}</b></td><td></td>
                </tfoot>
            </table>
        </div>
        <div class='table-responsive-xl'>
            <table class="table table-sm table-light table-striped edt-euros-font">   

                <thead class='table-warning'>
                    <th>Année 2024</th><th class='text-end'>Debit</th><th class='text-end'>Credit</th>
                </thead>
                <tbody class='table-group-divider'>
                    <tr >
                        <td>Titre ({{ compte_titre_01_2024|number_format(2) }}) <br>
                        Livret ({{ livret_01_2024|number_format(2) }}) <br>
                        CC ({{ compte_cheques_01_2024|number_format(2) }})</td><td></td><td class='text-end'>{{ credit_01_2024|number_format(2) }}</td></tr>

                    <tr  >
                        <td>Bilan affectations</td><td class='text-end'>{{ total_bilan|number_format(2) }}</td><td></td></tr>
                </tbody>
                <tfoot class='table-group-divider table-success'>
                    <td>Solde</td><td></td><td class='text-end text-success'><b>{{ solde|number_format(2) }}</b></td>
                </tfoot>
            </table>
        </div>
    </div>
</div>

