<div class='container-fluid justify-content-start'>

  <nav class="navbar navbar-expand-xl" >
    {% include ( "navbar_brand.html.twig" ) %}
    <button 
        class="navbar-toggler edt-navbar-toggler text-info" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a role="button" class="btn btn-success mx-1 my-1" href="{{ path('project_homepage') }}" >
                PROJETS <span class="badge text-bg-danger">{{ projets|length }}</span>
                </a>
            </li>
            {% for etat in etats %}
                {% set myPath = [path('project_homepage'), '/', etat.etat_id ]|join %}
                <li>
                    <a role="button" class="btn mx-2 my-1 {{ etat.bg_color }} {{ etat.text_color }}"
                    href="{{ myPath }}" >
                    {{ etat.etat }}  <span class="badge text-bg-secondary ms-3">{{ etat.count }}</span>
                    </a>                
                </li>
            {% endfor %}
            <li>
                <a role="button" class="btn mx-2 my-1 bg-light text-black border" href='{{ path('project_homepage') }}/DASH' >
            Bilan financier </a>  
            </li>
            {% include ( "li_table.html.twig" ) %}
            {% include ( "li_chart.html.twig" ) %}
            {% include ( "li_banque.html.twig" ) %}
        </ul>

            {# {% for etat in etats %}
                    <div class=' fs-6 m-2 px-2 py-1 rounded {{ etat.bg_color }} {{ etat.text_color }}'>projet {{ etat.etat }}</div>
            {% endfor %} #}
            {# <div class="nav-item dropdown edt-dropdown p-2">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href=''
                    role="button" aria-expanded="false">Structure</a>
                <ul class="dropdown-menu edt-dropdown-menu">
                    <li>
                        <a class="dropdown-item edt-dropdown-item" href='#'>
                            <i class="bi bi-house"></i> CAMSP
                        </a>
                    </li>
                </ul>
            </div> #}
        {% include ( "user_navbar.html.twig" ) %}


    </div>
    </nav>
</div>
